.section-h200 {
  height: 200px;
}

.drag-area {
  position: relative;
  border-width: 2px;
  border-style: dashed;
  border-color: #306da3db;
}

.inner-drop {
  position: relative;
  width: 180px;
  height: 180px;
  margin: 0 16px 16px 0;
  background-color: #3388bb;
}

.square {
  width: 75px;
  height: 75px;
  background-color: #77bbff;
}

.abs_pos_square {
  position: absolute;
}

.semitransp {
  opacity: 0.5;
}

/* X axis */
.x-axis-area {
  position: relative;
  background-color: #888888;
  height: 0.8rem;
  margin: 2rem 1rem;
}

.x-axis-slider {
  position: absolute;
  top: -0.6rem;
  width: 1.2rem;
  height: 2rem;
  background-color: #3388bb;
}

.drag_item {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  position: absolute;
  top: 0;
  padding: 10px 30px 10px 10px;
  background-color: #77bbff;
}

.drag_item > input[type="text"],
.list_item input[type="text"] {
  height: 25px;
  border: 1px solid #000000;
}

.drag-handle {
  display: block;
  width: 28px;
  height: 28px;
  margin-right: 0.5rem;
  background-color: #00a354;
}

.drag-handle-btn {
  --btn-size: 30px;
  --btn-icon-size: 20px;
  --btn-background: #006d38;
  --btn-icon-color: #383838;
  --btn-padding: 5px;

  margin: 0 0.5rem;
}

.drag-handle-btn.red {
  --btn-icon-color: #ff2222;
}
