/* RangeSliderStyled */
.range-slider.styled {
  /* Area */
  --rs-area-size: 0.65rem;
  --rs-area-border-style: solid;
  --rs-area-border-width: 2px;
  --rs-area-border-color: #ffffff;
  --rs-area-border-radius: 100vh;
  --rs-background: #dddddd;

  /* Slider  */
  --rs-slider-size: 1.5rem;
  --rs-slider-background: #00be0a;
  --rs-slider-border-style: solid;
  --rs-slider-border-width: 2px;
  --rs-slider-border-color: #ffffff;
  --rs-slider-border-radius: 100vh;
  --rs-slider-offset: calc((var(--rs-area-size) - var(--rs-slider-size)) / 2);

  /* Before area */
  --rs-before-background: #00be0a;

  /* After area */
  --rs-after-background: #1082c7;

  /* Selected area */
  --rs-selected-background: #00be0a;
  --rs-selected-border-width: 2px;
  --rs-selected-border-color: #00be0a;

  /* Hover state */
  --rs-hover-background: #dddddd;
  --rs-hover-slider-background: #009908;
  --rs-hover-slider-color: #009908;
  --rs-hover-slider-border-color: #ffeed8;

  /* Disabled state */
  --rs-disabled-background: #e9e9e9;
  --rs-disabled-slider-background: #b1b1b1;
  --rs-disabled-slider-border-color: #ffffff;
  --rs-disabled-selected-background: #b1b1b1;
  --rs-disabled-selected-border-color: #b1b1b1;

  &.range-slider_x-axis .range-slider__area {
    margin-left: 1px;
    margin-right: 1px;
  }
}
