/* ComponentsSectionHeader component */
.components-section__header {
  grid-column: 1 / -1;
  margin: 1.5rem 0 0 0;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  text-transform: uppercase;
}
