:root {
  /* Action button */
  --action-btn-border-radius: 6px;
  --action-btn-bg: #0072c6;
  --action-btn-hover-bg: #1e82cc;
  --action-btn-active-bg: #104b79;
}

.btn.action-btn,
.btn.action-btn:visited {
  --btn-title-color: #ffffff;
  --btn-background: var(--action-btn-bg);
  --btn-hover-title-color: #ffffff;
  --btn-hover-background: var(--action-btn-hover-bg);
  --btn-border-radius: var(--action-btn-border-radius);
  --btn-active-background: var(--action-btn-active-bg);
  --btn-disabled-background: #5082aa;
  --btn-padding: 0 22px;

  margin-right: 15px;
}

.btn.action-btn:focus {
  outline: 2px #aee5ff solid;
  outline-offset: 0.1rem;
}
