.range-scroll-chart {
  --rschart-outside-areas-background: #88888888;
  --rschart-slider-size: 50%;
  --rschart-slider-length: 0.8rem;
  --rschart-slider-background: #888888;
  --rschart-slider-border-width: 0;
  --rschart-slider-border-style: none;
  --rschart-slider-border-color: #000000;
  --rschart-navigation-margin: 0 0.4rem;

  display: flex;
  flex-flow: column nowrap;

  .chart {
    position: relative;
  }

  .chart__horizontal {
    overflow: hidden;
  }

  .chart__scroller {
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .range-scroll-chart__slider-container {
    --rs-max-length: 100%;

    position: relative;
  }
}
